body {
    background-color: lightgray
}

.search {
    position: relative;
    right: -550px;
    top: 250px;
}

button {
    position: relative;
    right: -390px;
    bottom: -200px;
}

h1 {
    text-align: center;
    position: relative;
    bottom: -300px;
}

h2 {
    color: black;
    text-align: center;
    position: relative;
    right: -2px;
    bottom: -300px;
}

p {
    text-align: center;
    position: relative;
    bottom: -300px;
}